.loader_spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #000;
  border-radius: 90%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


#map, #mapSection, #top5, #place5 {
  position: relative;
}

[data-local-loader] {
  position: absolute;
  top:0;
  right:0; 
  bottom:0; 
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff89; 
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mon-loader {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}